In [1]:
import pandas as pd
import numpy as np
import pickle

In [10]:
df_train=pd.read_csv('/content/train_final.csv',index_col=False)
labels=df_train[['784']]

In [11]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.image_data_format()

'channels_last'

In [12]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head(10)

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
labels=np.array(labels)

In [14]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

In [15]:
df_train.head(10)
df_train.shape

(47504, 784)

In [16]:
temp=df_train.to_numpy()

In [17]:
temp.shape[0]

47504

In [18]:
X_train = temp.reshape(temp.shape[0], 28, 28, 1)

In [19]:
X_train.shape

(47504, 28, 28, 1)

In [20]:
l=[]
for i in range(47504):
    l.append(np.array(df_train[i:i+1]).reshape(1,28,28))

In [21]:
np.random.seed(7)

In [22]:
len(l[0])

1

In [23]:
X_train.shape

(47504, 28, 28, 1)

## **CNN**

In [32]:
model = Sequential()
model.add(Conv2D(32, (3,3), input_shape=(28, 28,1), activation='relu',padding='same'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(BatchNormalization())
model.add(Conv2D(32, (3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(Conv2D(16, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(13, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_10 (Conv2D)          (None, 28, 28, 32)        320

 max_pooling2d_8 (MaxPooling  (None, 14, 14, 32)       0
 2D)

 batch_normalization_3 (Batc  (None, 14, 14, 32)       128
 hNormalization)

 conv2d_11 (Conv2D)          (None, 12, 12, 32)        9248

 batch_normalization_4 (Batc  (None, 12, 12, 32)       128
 hNormalization)

 conv2d_12 (Conv2D)          (None, 10, 10, 16)        4624

 max_pooling2d_9 (MaxPooling  (None, 5, 5, 16)         0
 2D)

 dropout_3 (Dropout)         (None, 5, 5, 16)          0

 flatten_3 (Flatten)         (None, 400)               0

 dense_9 (Dense)             (None, 128)               51328

 dense_10 (Dense)            (None, 50)                6450

 dense_11 (Dense)            (None, 13)                663

=================================================================
Total params: 72,889
Trainable params: 72,761
Non-trainable params: 128
_________________________________________________________________

In [27]:
from keras.models import *

In [33]:
model.fit(X_train, cat, epochs=20, batch_size=200,shuffle=True,verbose=1)

Epoch 1/20
238/238 [==============================] - 2s 7ms/step - loss: 0.5645 - accuracy: 0.8274
Epoch 2/20
238/238 [==============================] - 2s 7ms/step - loss: 0.1157 - accuracy: 0.9671
Epoch 3/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0698 - accuracy: 0.9794
Epoch 4/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0499 - accuracy: 0.9860
Epoch 5/20
238/238 [==============================] - 2s 8ms/step - loss: 0.0389 - accuracy: 0.9880
Epoch 6/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0313 - accuracy: 0.9907
Epoch 7/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0282 - accuracy: 0.9915
Epoch 8/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0229 - accuracy: 0.9931
Epoch 9/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0184 - accuracy: 0.9942
Epoch 10/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0178 - accuracy: 0.9948
Epoch 11/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0171 - accuracy: 0.9951
Epoch 12/20
238/238 [==============================] - 2s 8ms/step - loss: 0.0143 - accuracy: 0.9953
Epoch 13/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0133 - accuracy: 0.9960
Epoch 14/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0133 - accuracy: 0.9956
Epoch 15/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0112 - accuracy: 0.9968
Epoch 16/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0121 - accuracy: 0.9962
Epoch 17/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0113 - accuracy: 0.9964
Epoch 18/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0101 - accuracy: 0.9965
Epoch 19/20
238/238 [==============================] - 2s 8ms/step - loss: 0.0127 - accuracy: 0.9960
Epoch 20/20
238/238 [==============================] - 2s 7ms/step - loss: 0.0091 - accuracy: 0.9970

In [34]:
model.save('eqn.h5')

In [39]:
#Test the model with custom input
import cv2
import numpy as np
img = cv2.imread('/content/download.png',cv2.IMREAD_GRAYSCALE)

In [40]:
if img is not None:
    #images.append(img)
    img=~img
    ret,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY)
    ctrs,ret=cv2.findContours(thresh,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)
    cnt=sorted(ctrs, key=lambda ctr: cv2.boundingRect(ctr)[0])
    w=int(28)
    h=int(28)
    train_data=[]
    print(len(cnt))
    rects=[]
    for c in cnt :
        x,y,w,h= cv2.boundingRect(c)
        rect=[x,y,w,h]
        rects.append(rect)
    print(rects)
    bool_rect=[]
    for r in rects:
        l=[]
        for rec in rects:
            flag=0
            if rec!=r:
                if r[0]<(rec[0]+rec[2]+10) and rec[0]<(r[0]+r[2]+10) and r[1]<(rec[1]+rec[3]+10) and rec[1]<(r[1]+r[3]+10):
                    flag=1
                l.append(flag)
            if rec==r:
                l.append(0)
        bool_rect.append(l)
    print(bool_rect)
    dump_rect=[]
    for i in range(0,len(cnt)):
        for j in range(0,len(cnt)):
            if bool_rect[i][j]==1:
                area1=rects[i][2]*rects[i][3]
                area2=rects[j][2]*rects[j][3]
                if(area1==min(area1,area2)):
                    dump_rect.append(rects[i])
    print(len(dump_rect)) 
    final_rect=[i for i in rects if i not in dump_rect]
    print(final_rect)
    for r in final_rect:
        x=r[0]
        y=r[1]
        w=r[2]
        h=r[3]
        im_crop =thresh[y:y+h+10,x:x+w+10]
        
        
        im_resize = cv2.resize(im_crop,(28,28))


        im_resize=np.reshape(im_resize,(28,28,1))
        train_data.append(im_resize)

3
[[25, 29, 55, 95], [131, 53, 72, 67], [241, 46, 80, 93]]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
0
[[25, 29, 55, 95], [131, 53, 72, 67], [241, 46, 80, 93]]

In [43]:
s=''
for i in range(len(train_data)):
    train_data[i]=np.array(train_data[i])
    train_data[i]=train_data[i].reshape(1,28,28,1)
    #result=loaded_model.predict_classes(train_data[i])
    result=np.argmax(model.predict(train_data[i]), axis=-1)
    if(result[0]==10):
        s=s+'-'
    if(result[0]==11):
        s=s+'+'
    if(result[0]==12):
        s=s+'*'
    if(result[0]==0):
        s=s+'0'
    if(result[0]==1):
        s=s+'1'
    if(result[0]==2):
        s=s+'2'
    if(result[0]==3):
        s=s+'3'
    if(result[0]==4):
        s=s+'4'
    if(result[0]==5):
        s=s+'5'
    if(result[0]==6):
        s=s+'6'
    if(result[0]==7):
        s=s+'7'
    if(result[0]==8):
        s=s+'8'
    if(result[0]==9):
        s=s+'9'
    
print("The predicted value is: ",eval(s))

1/1 [==============================] - 0s 18ms/step
1/1 [==============================] - 0s 17ms/step
1/1 [==============================] - 0s 16ms/step
The predicted value is:  10